<div id="banner-button">
<h2>Consultas Públicas</h2> <h3>2015-2016</h3>
<a class="button-read" href="/consultas-publicas-2015-2016"><span>Leia mais!</span></a>
</div>

<style>
#banner-button{
  background: #FFF;
  padding: 10px;
}

#content #banner-button h2{
  color: #000;
  font-family: 'Open Sans Bold';
  font-size: 22px;
  line-height: 28px;
  margin: 0 5px;
}

#content #banner-button h3{
  color: #000;
  font-family: 'Open Sans Light';
  font-size: 20px;
  font-weight: 100;
  margin: 3px 5px 10px;
}

#content #banner-button a.button-read{
  background: #89ba3f;
  border-radius: 5px;
  border: none;
  color: #FFF;
  display: block;
  font-family: 'Open Sans Extrabold';
  font-size: 16px;
  padding: 15px;
  text-decoration: none;
  text-align: center;
}

#banner-button a.button-read span{
  display: block;
}
</style>
