v class="read-more-news">
<a href="/portal/blog">Ver todas</a>
</div>

<style>
#content .read-more-news{
  float: right;
  margin-right: 10px;
}
#content .read-more-news a{
  color: #89ba3f;
  display: block;
  font-family: "Open Sans Bold";
  font-size: 14px;
  text-decoration: none;
  padding-top: 10px;
}
</style>

<script>
jQuery(function($) {
$('.read-more-news').appendTo('#content .main-block h1');
});
</script>
