#content
  .box-2 
    .link-list-block
      background: #FFF
      padding: 15px
      a
        background: none
        color: #777
        font-family: 'Open Sans'
        font-size: 13px
        font-weight: 700
        line-height: 20px
        padding: 3px 5px
        &:hover
          background: none
          color: #b62221
    .block-outer
      &:first-child
        .link-list-block
          margin: 0
          padding-bottom: 1px
      &:nth-of-type(2)
        .link-list-block
          .block-inner-1
            border-top: 1px solid #eee
            padding-top: 10px
  .main-content
    width: 550px
    margin: auto
    padding-top: 0px
    h1
      border-bottom: 1px solid #ddd
      color: #0083CB
      font-family: 'Open Sans Bold'
      font-size: 32px
      margin-top: 0
      margin-bottom: 7px
      padding-bottom: 8px
    .publishing-info
      color: #999
      font-family: 'Open Sans'
      font-size: 12px
      a
        color: #999
    #article
      .article-body
        font-family: 'Open Sans'
        h1, h2, h3, h4
          color: #999
          font-family: 'Open Sans Bold'
          font-size: 18px
          margin-top: 37px
        p
          color: #999
          font-size: 13px
      .vote-actions
        position: absolute
      .action
        &.like-action .like-action-counter
          color: #89ba3f
          font-size: 14px
          font-family: 'Open Sans'
          padding: 0 16px 0 6px
        &.dislike-action .like-action-counter
          border: none
          color: #F68686
          font-size: 14px
          font-family: 'Open Sans'
        .action-icon.like, .action-icon.dislike
          background: url('images/voto_icon1.png') top left no-repeat
          display: block
          float: left
          height: 18px
          width: 17px
          &::before
            content: ''
        .action-icon.dislike
          background: url('images/voto_icon2.png') bottom right no-repeat
          border-left: 1px solid rgba(75,83,94,0.1)
          padding: 4px 6px 0 0
  .event-plugin_event-block
    margin-right: 0
    .block-title
      color: #999
      font-family: 'Open Sans Bold'
      font-size: 18px
      margin-bottom: 10px
    .events
      border-bottom: 1px solid #ddd
      li
        border-top: 1px solid #ddd
        padding: 10px 0
      .date
        background: none
        height: auto
        width: 100%
        span
          background: none
          color: #999
          display: block
          float: left
          font-family: 'Open Sans'
          font-size: 13px
          font-weight: 300
          line-height: 12px
          margin-bottom: 5px
          &.week-day::after
            content: ' - '
            margin: 0 3px
          &.month::after
            content: '.'
          &.day::after
            content: '.'
      .title
        color: #89ba3f
        float: left
        font-family: 'Open Sans Bold'
        font-size: 15px
        margin-bottom: 5px
        max-height: 48px
        &.toobig::after
          background: none
          color: #89ba3f
          position: relative
      .duration
        display: none
      .address
        color: #999
        float: left
        font-size: 13px
.controller-cms
  #content
    .main-content
      width: auto

