@import ../base/style.css

@font-face
  font-family: 'Open Sans'
  font-style: normal
  font-weight: 400
  src: local('Open Sans'), local('OpenSans'), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff')

@font-face
  font-family: 'Open Sans Bold'
  font-style: normal
  font-weight: 700
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff')

@font-face
  font-family: 'Open Sans Extrabold'
  font-style: normal
  font-weight: 800
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/EInbV5DfGHOiMmvb1Xr-hnhCUOGz7vYGh680lGh-uXM.woff) format('woff')

@font-face
  font-family: 'Open Sans Light'
  font-style: normal
  font-weight: 300
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff')

=border-radius($radius)
  border-radius: $radius
  -moz-border-radius: $radius
  -webkit-border-radius: $radius

@mixin opacity($opacity)
  opacity: $opacity
  $opacity-ie: $opacity * 100
  filter: alpha(opacity=$opacity-ie)

body
  background: #F6F6F6 
  .action-home-index &
    background: #F6F6F6 url('images/faixainferior-vermelha.png') repeat-x
    background-position: center bottom 200px

#wrap-1
  width: 100%

#theme-header
  background: #FFD204 url('images/faixa_cores.png') center top repeat
  padding-top: 4px
  background-size: 100%
  height: auto
  @import header

#wrap-2
  background: none
  border: none
  margin: auto
  width: 980px
  #site-title, #user, #navigation, #navigation-end
    display: none

#content
  margin-top: 10px
  @import home_page
  
.profile-type-is-community
  @import internal_page

#footer
  background: url('images/faixa_cores.png') center bottom repeat
  width: 100%
  padding-bottom: 4px

#theme-footer
  background: #FFD204
  margin: 0
  width: 100%
@import footer
